@import url('https://fonts.googleapis.com/css?family=Numans');

#mainPage {
	width: 100%;
	height: 100%;
}

body {
	background: url("oil.jpeg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.white {
	color: white;
}

.centerPanel {
	/* border: 1px solid; */
	background-color: #f0ead6;
	padding: 10px;
	position: absolute;
	left: 23%;
	right: 23%;
	height: 80%;
	top: 11%;
	bottom: 11%;
	box-shadow: 10px 10px 10px 8px #696969;
	right: 23%;
	height: 80%;
	top: 11%;
	bottom: 11%;
}

.panel {
	width: 49%;
	height: 100%;
}

#leftPanel {
	background-color: #00cc99;
}

#rightPanel {
	background-color: white;
}

.floatLeft {
	float: left !important;
}

.floatRight {
	float: right !important;
}

#deliveryDiv {
	width: 228px;
	height: 78px;
	margin-top: 30px;
	margin-left: 124px;
}

#fuelSpan {
	margin-left: 81px;
}

#priceSpan {
	width: 126px;
	height: 65px;
	margin-right: 30px;
}

#pp_img {
	height: 65px;
	width: 94px;
}

#loginButton {
	color: white;
	font-weight: bold;
	border: 2px solid;
	margin-bottom: 11px;
}

#registerButton {
	background-color: white;
	color: #00cc99;
	font-weight: bold;
}

/* .loginText {
	height: 100%;
	width: 100%;
	text-align: center;
	vertical-align: middle;
	margin-top: 5px;
} */
.button {
	margin-left: 96px;
	width: 159px;
	height: 34px;
	border: 1px solid;
	border-radius: 20px;
}

.background-img {
	width: 100%;
	height: 100%;
}

.buttonDiv {
	height: 80px;
	width: 100%;
	margin-top: 30px;
}

.imgDiv {
	margin-top: 58px;
}

#registerText {
	
}

/* ------------------New CSS-------------------------*/
.floatNone {
	float: none;
}

.header-nav {
	/* background-color: #e3f2fd; */
	padding: 0px !important;
	margin-bottom: 10px !important;
}

.headerTab {
	background-color: rgba(0, 0, 0, 0.5) !important;
	padding-left: 30px;
	padding-right: 30px;
	color: black;
	position: fixed;
	width : 102%;
}

.header {
	padding: 0px !important;

}

.companyLogo {
	font-weight: bold;
	color: #46270C;
	font-size: 20px;
}

.loginDiv {
	position: absolute !important;
	z-index: 5;
	left: 34%;
	top: 24%;
}

.loginText {
	margin-top: 9px !important;
}

<!--
Login
-->.container {
	height: 100%;
	align-content: center;
}

.card {
	height: 284px;
	margin-top: auto;
	margin-bottom: auto;
	width: 400px;
	background-color: rgba(0, 0, 0, 0.5) !important;
}

.social_icon span {
	font-size: 60px;
	margin-left: 10px;
	color: #FFC312;
}

.social_icon span:hover {
	color: white;
	cursor: pointer;
}

.card-header h3 {
	color: white;
}

.social_icon {
	position: absolute;
	right: 20px;
	top: -45px;
}

.input-group-prepend span {
	background-color: #DAA552;
	color: black;
	border: 0 !important;
	background-color: #DAA552;
}

input:focus {
	outline: 0 0 0 0 !important;
	box-shadow: 0 0 0 0 !important;
}

.remember {
	color: white;
}

.remember input {
	width: 20px;
	height: 20px;
	margin-left: 15px;
	margin-right: 5px;
}

.login_btn {
	color: black;
	background-color: #DAA552;
	width: 100px;
}

.login_btn:hover {
	color: black;
	background-color: white;
}

.links {
	color: white;
}

.links a {
	margin-left: 4px;
}

.card-header {
	padding: 6px;
	border-bottom: 1px solid rgba(0, 0, 0, .125);
	margin-bottom: 20px;
}

.username {
	width: 90% !important;
	margin-top: 1px !important;
}

.username-profile {
	width: 70% !important;
	margin-top: 1px !important;
}

.input-group-prepend-profile span {
	background-color: #DAA552;
	color: black;
	border: 0 !important;
	background-color: #DAA552;
	width: 30% !important;
}

.textLabel {
	color: white;
	font-size: 16px;
}

.user-profile-label{
	padding: 10px; 
	text-align: left;
	width:30%;
}

.ProfileDiv {
	position: absolute !important;
	z-index: 5;
	left: 34%;
	top: 15%;
}

.top-10{
	margin-top: -5px;
}

.profileText {
	margin-top: 5px !important;
}